#### Import libs

In [175]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from collections import Counter, defaultdict

from pprint import pprint
import warnings

warnings.filterwarnings('ignore')

#### Download data + description of data

In [185]:
df = pd.read_pickle('MADE_sample_191222_v2.pickle')
print(df.shape)
df.head()

(4881, 190)

,CLIENT_ID,RETRO_DT,TARGET,002ed5b3f6fdd73d88010863b6a44eeb5930b2eb30c250e3c51d6ae7060f1265256579b81388afc12d66e6e0d65bdf95784e80c86f36bbc8737552762e6d8546,020d725ee4b1f20ab348addb2327ce5a95d44c2f8d203ea08c1aa2df3e733a79c726f7db0db29e6f818988550e3ff34c9b7775bb32d2b5b40aa154eb71262a2c,04026768b6afb8a94c19f0bad0f177bf9987bf9670071880f74f55c8d61e96f93a2948ae697c82a8c834af9d44384edce4cf22af41fe832ed238df8a8fbf7ff5,0695f068e982bfe5dee07ea539a4da087982b2bdbcc3cdd3ebe03cf3ad638c81274faff0eaed8017f3027efc81c6bd2c7074a8e0b8eebe447060116ba1b0491e,0984a18dbd5f79e5ea1308f407cfdb217f8ac458a683c2006263d62e347cd52ae0bde62f9449fc4e4b5f5ece7481baaef2bac3f396e0f6ab823352c292d005fc,0af62b1064a44c5487c1df1dfa9a15b956f4b4edf55616dd9ff57666fe805ee2b5da9ba8ab542b6a8bef0f15d0bc482c8462a6fbefefb91290997181db6b2755,0b144de606729cc8609aefc2643861e9fece40a3a8e8498982728528833d4f38cc032ccb6bd6ad52e276c8aae4e94ef908b47f1340b4b6d14c71758e763ccef3,...,e877b3779a786d81cd70cc9a1df8a29c9d2921564289c9e79b395b3de85a965fd191080d6513c3a4a67ba32a1ffba360de64be2b3ed3adf10b393ed7249b9ee9,eac98b80015e56e12d7a751704c280dcf4468607934fe5a29e583c6fef83c87a054e72d7339bea0979debf3f24b93516b04837efaba8877ced10952f653e42e6,eb5ce7195f41816aac0cd98c0a664eb8a836d83be2490ee9c210f32e3928efa058e439401b30edf0c1b71d5186740ba346575a7888623e1eeeb6845c2a3384e6,ed758be23f6afe74cd4f866a160f8bdbcde53cbe6c4f59972fcac0e2c4467b21c41fb410b42c9e7cbfa8ab4b8c3669e3e89c5082a87bb78936c645fcd280ce4d,edff22e5a7af320dfe00b7f680ed6eb875453510b35c942de83cfd70a64609f6df72f02b1cf64d6bdb6bca4dcba4981809557c48b601b66e5d4410cd5b23e48a,f21124c671a0066a7f3fec869c74486d16d5be50d93e5597ce2317a57b46ad0fd9428bda4c89810177c8ae37bfc53191a25b8c72810534f9964b5aaf339ede11,f356d3b5543d5e309546e81cfc186fb1adc0f020d891ca9504521aebb52a560e9e0aa99978bbaa52976416311374aa1c17baa140e362e61ad8627aa260fb3d29,f870f88895544c5fb953fec2098f1de172b02481c11e44a38a8be5799120638d4717d5cfb140c069f705477f81268e9e0060ca413df8023d9f118f70e559259a,f9b55fc5107dba0b1829df86d80905e673ca809870b4e868f185bb865295f8db1522907d3bee4d87c0bfce42c315aa3af9a402a3bf0d2f3abb3bfe3098830549,faf8a241498398dbbfac4e1fb71aa658202d5ad93e95198da259db5a5b2acdb7aadcd331aeb7d7ef9b0b73631e6f4a7e48f6d5168461d35892d2ac76793578ab
0,cdc794dc2b22260172cbda76b2268fc1a4a05a64f22dd2...,20220612,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9d7e302d591925ca1f49c79540a1ad52ea4b97982e9abe...,20220602,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8a5c3393374511a8af1dfc4a649879fc0cf8cc288d5f20...,20220602,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,dc4a89723fdbfa6336247fbcbdedb66d424d625a19243d...,20220627,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6dcfdde737b2c41fe1ca0dfee521d2de053976069ba1e1...,20220629,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [186]:
df.columns[:10]

Index(['CLIENT_ID', 'RETRO_DT', 'TARGET',
       '002ed5b3f6fdd73d88010863b6a44eeb5930b2eb30c250e3c51d6ae7060f1265256579b81388afc12d66e6e0d65bdf95784e80c86f36bbc8737552762e6d8546',
       '020d725ee4b1f20ab348addb2327ce5a95d44c2f8d203ea08c1aa2df3e733a79c726f7db0db29e6f818988550e3ff34c9b7775bb32d2b5b40aa154eb71262a2c',
       '04026768b6afb8a94c19f0bad0f177bf9987bf9670071880f74f55c8d61e96f93a2948ae697c82a8c834af9d44384edce4cf22af41fe832ed238df8a8fbf7ff5',
       '0695f068e982bfe5dee07ea539a4da087982b2bdbcc3cdd3ebe03cf3ad638c81274faff0eaed8017f3027efc81c6bd2c7074a8e0b8eebe447060116ba1b0491e',
       '0984a18dbd5f79e5ea1308f407cfdb217f8ac458a683c2006263d62e347cd52ae0bde62f9449fc4e4b5f5ece7481baaef2bac3f396e0f6ab823352c292d005fc',
       '0af62b1064a44c5487c1df1dfa9a15b956f4b4edf55616dd9ff57666fe805ee2b5da9ba8ab542b6a8bef0f15d0bc482c8462a6fbefefb91290997181db6b2755',
       '0b144de606729cc8609aefc2643861e9fece40a3a8e8498982728528833d4f38cc032ccb6bd6ad52e276c8aae4e94ef908b47f1340b4b6d14c71758e763ccef3'],
      dtype='object')

Переименовываем столбцы.

In [187]:
columns_dict = {c: f'l_{i}' for i, c in enumerate(df.columns[3:], 1)}
df.rename(columns=columns_dict, inplace=True)

In [188]:
df.head()

,CLIENT_ID,RETRO_DT,TARGET,l_1,l_2,l_3,l_4,l_5,l_6,l_7,...,l_178,l_179,l_180,l_181,l_182,l_183,l_184,l_185,l_186,l_187
0,cdc794dc2b22260172cbda76b2268fc1a4a05a64f22dd2...,20220612,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9d7e302d591925ca1f49c79540a1ad52ea4b97982e9abe...,20220602,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8a5c3393374511a8af1dfc4a649879fc0cf8cc288d5f20...,20220602,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,dc4a89723fdbfa6336247fbcbdedb66d424d625a19243d...,20220627,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6dcfdde737b2c41fe1ca0dfee521d2de053976069ba1e1...,20220629,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Видим большое число NaNов

In [189]:
df['TARGET'].value_counts()

0    4773
1     108
Name: TARGET, dtype: int64

Структура данных следующая:

- id пользователя
- target - является ли пользователь заинтересованным в данном товаре в конкретную дату
- ретродата - конкретная дата, в которую мы бы хотели уметь предсказывать интерес пользователя
- все следующие столбцы описывают поведение пользователя в сети в предыдущие 2 недели.
    - каждый столбец соответствует определнной ссылке
    - ссылки анонимизированы 
    - ссылки разбиты на группы, группы определяются по префиксу столбца, в группах может быть разное количество ссылок
    - история представляет собой список пар - (дата посещения, количество посещений в эту дату)

#### General description of data

In [190]:
# table size
print("df shape         :", df.shape)
# number of unique users
print("unique users     :", df.CLIENT_ID.nunique())
# number of groups
groups_columns = df.columns.tolist()[3:]

df shape         : (4881, 190)
unique users     : 4881

In [191]:
df.CLIENT_ID = [f'u_{i}' for i, u in enumerate(range(df.shape[0]), 1)]

In [192]:
df

,CLIENT_ID,RETRO_DT,TARGET,l_1,l_2,l_3,l_4,l_5,l_6,l_7,...,l_178,l_179,l_180,l_181,l_182,l_183,l_184,l_185,l_186,l_187
0,u_1,20220612,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,u_2,20220602,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,u_3,20220602,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,u_4,20220627,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,u_5,20220629,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4876,u_4877,20220608,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4877,u_4878,20220628,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4878,u_4879,20220622,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"[[2022-06-19, 1], [2022-06-20, 1]]",NaN,NaN,NaN,NaN,NaN
4879,u_4880,20220601,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4880,u_4881,20220623,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Data processing

First of all lets convert lists in cells into real lists (now they are string-lists).

In [193]:
def make_normal_list(string_list):
    if isinstance(string_list, float):
        return None
    day_process = lambda x: (pd.to_datetime(x[0], format='%Y-%m-%d').date(), x[1])
    
    history = [day_process(day) for day in string_list]
    return history

In [194]:
def make_normal_list_series(series):
    return series.apply(make_normal_list)

In [195]:
df.RETRO_DT = pd.to_datetime(df.RETRO_DT, format='%Y%m%d').dt.date

In [196]:
df[groups_columns] = df[groups_columns].apply(make_normal_list_series)

In [197]:
df.head()

,CLIENT_ID,RETRO_DT,TARGET,l_1,l_2,l_3,l_4,l_5,l_6,l_7,...,l_178,l_179,l_180,l_181,l_182,l_183,l_184,l_185,l_186,l_187
0,u_1,2022-06-12,0,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,u_2,2022-06-02,0,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,u_3,2022-06-02,0,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,u_4,2022-06-27,0,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,u_5,2022-06-29,0,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

#### Feature engineering

- User activities within two previous weeks
    - total visits of all sites (inside of domain)
    - total visits for every group
    - total visits for every link
    - number of active days within period (two weeks)
    - number of active days for every group
    - average visits per active day (for domain and groups)
    - number of visits on previous (or 2, 3) day

1. total visits of all sites (inside of domain)

In [198]:
def get_total_visits(history_list):
    all_sum = 0
    for history in history_list:
        if isinstance(history, list):
            all_sum += sum(info[1] for info in history)
    return all_sum
    

df['total_visits_domain'] = df.apply(lambda x: get_total_visits([x[col] for col in groups_columns]), axis=1)

In [199]:
df['total_visits_domain'].head()

0     2
1    92
2     3
3     1
4     3
Name: total_visits_domain, dtype: int64

In [200]:
def get_visits(history):
    all_sum = 0
    if isinstance(history, list):
        all_sum += sum(info[1] for info in history)
    return all_sum
    
for col in groups_columns:
    df[f'total_visits_{col}'] = df[col].map(lambda x: get_visits(x))

In [201]:
df['total_visits_l_1'][df['total_visits_l_1'] > 0].head()

75      1
79      1
730     1
1082    1
4592    1
Name: total_visits_l_1, dtype: int64

4. number of active days within period (two weeks) for domain

In [202]:
def get_total_active_days(history_list, activity_thr=1):
    # calculate unique days with visits during history
    # activity_thr - number of days to make day active
    all_sum = 0
    for history in history_list:
        if isinstance(history, list):
            all_sum += len(set(day for (day, visits) in history if visits >= activity_thr))
    return all_sum

            
df['n1_active_days_domain'] = df.apply(lambda x: get_total_active_days([x[col] for col in groups_columns], 1), axis=1)
df['n2_active_days_domain'] = df.apply(lambda x: get_total_active_days([x[col] for col in groups_columns], 2), axis=1)
df['n3_active_days_domain'] = df.apply(lambda x: get_total_active_days([x[col] for col in groups_columns], 3), axis=1)

In [203]:
df[['n1_active_days_domain', 'n2_active_days_domain', 'n3_active_days_domain']].head()

   n1_active_days_domain  n2_active_days_domain  n3_active_days_domain
0                      2                      0                      0
1                      9                      7                      6
2                      1                      1                      1
3                      1                      0                      0
4                      2                      1                      0

6. average visits per active day (for domain and groups)

considering days with at least one visit

In [204]:
def get_active_days(history, activity_thr=1):
    all_sum = 0
    if isinstance(history, list):
        all_sum += len(set(day for (day, visits) in history if visits >= activity_thr))
    return all_sum

            
for col in groups_columns:
    df[f'n1_active_days_{col}'] = df[col].map(lambda x: get_active_days(x))

In [205]:
df['n1_active_days_l_1'][df['n1_active_days_l_1'] > 0].head()

75      1
79      1
730     1
1082    1
4592    1
Name: n1_active_days_l_1, dtype: int64

In [206]:
def get_total_av_visits(history_list, activity_thr=1):
    visits = list()
    for history in history_list:
        if isinstance(history, list):
            visits.extend([visits for (day, visits) in history if visits >= activity_thr])
    return np.mean(visits)

df['average_visits_domain'] = df.apply(lambda x: get_total_av_visits([x[col] for col in groups_columns], 1), axis=1)

In [207]:
df['average_visits_domain'].head()

0     1.000000
1    10.222222
2     3.000000
3     1.000000
4     1.500000
Name: average_visits_domain, dtype: float64

In [208]:
def get_total_av_visits_per_active_day(history_list):
    date_visit = defaultdict(int)
    for history in history_list:
        if isinstance(history, list):
            for (day, visits) in history:
                date_visit[day] += visits
    return np.mean(list(date_visit.values()))

df['average_visits_per_day_domain'] = df.apply(lambda x: get_total_av_visits_per_active_day([x[col] for col in groups_columns]), axis=1)

In [209]:
df['average_visits_per_day_domain'].head()

0     2.000000
1    15.333333
2     3.000000
3     1.000000
4     1.500000
Name: average_visits_per_day_domain, dtype: float64

In [210]:
def get_av_visits(history, activity_thr=1):
    visits = list()
    if isinstance(history, list):
        visits.extend([visits for (day, visits) in history if visits >= activity_thr])
    return np.mean(visits)

            
for col in groups_columns:
    df[f'average_visits_{col}'] = df[col].map(lambda x: get_av_visits(x))

In [211]:
df['average_visits_l_1'][df['average_visits_l_1'] > 0].head()

75      1.0
79      1.0
730     1.0
1082    1.0
4592    1.0
Name: average_visits_l_1, dtype: float64

7. number of visits on previous (or 2, 3) day

In [212]:
def get_visits_K_days_ago(history_list, retrodate, lag=1):
    visits = list()
    for history in history_list:
        if isinstance(history, list):
            visits.extend(visits for (day, visits) in history if (retrodate - day).days == lag)
    return sum(visits)

df['visits_1_day_ago_domain'] = df.apply(lambda x: get_visits_K_days_ago([x[col] for col in groups_columns], x.RETRO_DT, 1), axis=1)
df['visits_2_day_ago_domain'] = df.apply(lambda x: get_visits_K_days_ago([x[col] for col in groups_columns], x.RETRO_DT, 2), axis=1)
df['visits_3_day_ago_domain'] = df.apply(lambda x: get_visits_K_days_ago([x[col] for col in groups_columns], x.RETRO_DT, 3), axis=1)

In [213]:
df[['visits_1_day_ago_domain', 'visits_2_day_ago_domain', 'visits_3_day_ago_domain']].head()

   visits_1_day_ago_domain  visits_2_day_ago_domain  visits_3_day_ago_domain
0                        0                        0                        2
1                       15                       17                        2
2                        0                        0                        3
3                        1                        0                        0
4                        0                        2                        0

In [214]:
def get_total_last_visit(history_list, retrodate):
    visits = list()
    for history in history_list:
        if isinstance(history, list):
            visits.extend((retrodate - day).days for (day, visits) in history)
    return min(visits)

df['last_visit_domain'] = df.apply(lambda x: get_total_last_visit([x[col] for col in groups_columns], x.RETRO_DT), axis=1)

In [215]:
df['last_visit_domain'].head()

0    3
1    0
2    3
3    1
4    0
Name: last_visit_domain, dtype: int64

In [216]:
def get_last_visit(history, retrodate):
    last_visit = 8
    if isinstance(history, list):
        last_visit = min((retrodate - day).days for (day, visits) in history)
    return last_visit

            
for col in groups_columns:
    df[f'last_visit_{col}'] = df.apply(lambda x: get_last_visit(x[col], x.RETRO_DT), axis=1)

In [217]:
df['last_visit_l_1'][df['last_visit_l_1'] < 8].head()

75      1
79      6
730     5
1082    1
4592    3
Name: last_visit_l_1, dtype: int64

In [225]:
def get_total_av_diff_visit(history_list):
    visits_set = set()
    for history in history_list:
        if isinstance(history, list):
            visits_set = visits_set | set(day for (day, visits) in history)
    visits = sorted(list(visits_set), reverse=True)
    diff = list()
    for d2, d1 in zip(visits[:-1], visits[1:]):
        diff.append((d2 - d1).days)
    
    if len(diff) == 0:
        return 8
    return np.mean(diff)

df['av_diff_visit_domain'] = df.apply(lambda x: get_total_av_diff_visit([x[col] for col in groups_columns]), axis=1)

In [227]:
df['av_diff_visit_domain'].head()

0    8.0
1    1.4
2    8.0
3    8.0
4    2.0
Name: av_diff_visit_domain, dtype: float64

In [234]:
def get_av_diff_visit(history):
    visits_list = list()
    if isinstance(history, list):
        visits_list.extend([day for (day, visits) in history])
    visits = sorted(visits_list, reverse=True)
    diff = list()
    for d2, d1 in zip(visits[:-1], visits[1:]):
        diff.append((d2 - d1).days)
    
    if len(diff) == 0:
        return 8
    return np.mean(diff)

for col in groups_columns:
    df[f'av_diff_visit_{col}'] = df[col].map(lambda x: get_av_diff_visit(x))

In [238]:
df['av_diff_visit_l_4'][df['av_diff_visit_l_4'] < 8].head()

4244    1.0
Name: av_diff_visit_l_4, dtype: float64

In [242]:
def get_total_weekday_visit(history_list, weekday):
    visits_sum = 0
    for history in history_list:
        if isinstance(history, list):
            visits_sum += sum([visits for (day, visits) in history if day.weekday() == weekday])
    return visits_sum

df['weekday_0_visit_domain'] = df.apply(lambda x: get_total_weekday_visit([x[col] for col in groups_columns], 0), axis=1)
df['weekday_1_visit_domain'] = df.apply(lambda x: get_total_weekday_visit([x[col] for col in groups_columns], 1), axis=1)
df['weekday_2_visit_domain'] = df.apply(lambda x: get_total_weekday_visit([x[col] for col in groups_columns], 2), axis=1)
df['weekday_3_visit_domain'] = df.apply(lambda x: get_total_weekday_visit([x[col] for col in groups_columns], 3), axis=1)
df['weekday_4_visit_domain'] = df.apply(lambda x: get_total_weekday_visit([x[col] for col in groups_columns], 4), axis=1)
df['weekday_5_visit_domain'] = df.apply(lambda x: get_total_weekday_visit([x[col] for col in groups_columns], 5), axis=1)
df['weekday_6_visit_domain'] = df.apply(lambda x: get_total_weekday_visit([x[col] for col in groups_columns], 6), axis=1)

In [243]:
df[['weekday_0_visit_domain', 'weekday_1_visit_domain', 'weekday_2_visit_domain', 'weekday_3_visit_domain', 
    'weekday_4_visit_domain', 'weekday_5_visit_domain', 'weekday_6_visit_domain']].head()

,weekday_0_visit_domain,weekday_1_visit_domain,weekday_2_visit_domain,weekday_3_visit_domain,weekday_4_visit_domain,weekday_5_visit_domain,weekday_6_visit_domain
0,0,0,0,2,0,0,0
1,2,17,15,25,33,0,0
2,3,0,0,0,0,0,0
3,0,0,0,0,0,0,1
4,2,0,1,0,0,0,0

In [244]:
def get_url_visits(history_list):
    all_url_sum = 0
    for history in history_list:
        if isinstance(history, list):
            all_url_sum += 1
    return all_url_sum
    

df['url_visits_domain'] = df.apply(lambda x: get_url_visits([x[col] for col in groups_columns]), axis=1)

In [245]:
df['url_visits_domain'].head()

0    2
1    3
2    1
3    1
4    1
Name: url_visits_domain, dtype: int64

#### Save data for models

In [246]:
ignore_columns = ['RETRO_DT']
data = df.copy()
data[groups_columns] = 1 - data[groups_columns].isna().astype(int)
important_columns = [c for c in data.columns if c not in ignore_columns]
len(important_columns)

1143

In [247]:
data.head()

,CLIENT_ID,RETRO_DT,TARGET,l_1,l_2,l_3,l_4,l_5,l_6,l_7,...,av_diff_visit_l_185,av_diff_visit_l_186,av_diff_visit_l_187,weekday_0_visit_domain,weekday_1_visit_domain,weekday_2_visit_domain,weekday_3_visit_domain,weekday_4_visit_domain,weekday_5_visit_domain,weekday_6_visit_domain
0,u_1,2022-06-12,0,0,0,0,0,0,0,0,...,8,8,8.0,0,0,0,2,0,0,0
1,u_2,2022-06-02,0,0,0,0,0,0,0,0,...,8,8,8.0,2,17,15,25,33,0,0
2,u_3,2022-06-02,0,0,0,0,0,0,0,0,...,8,8,8.0,3,0,0,0,0,0,0
3,u_4,2022-06-27,0,0,0,0,0,0,0,0,...,8,8,8.0,0,0,0,0,0,0,1
4,u_5,2022-06-29,0,0,0,0,0,0,0,0,...,8,8,8.0,2,0,1,0,0,0,0

In [57]:
data[important_columns].to_csv('sample_processed.csv', index=False)

#### Future work

Можно визуализировать посчитанные статистики, должны получаться понятные гистограммы + возможно будут видны отличия по таргету.

-----

что еще можно попробовать

Ideas and brainstorming:

Нужно придумывать признаки, которые бы коррелировали с типичным поведением пользователя и его мотивами, настроением. Возможно следует посмотреть в сторону поведения пользователя не внутри одного домена, а кросс-доменное поведение. Например, кто-то смотрит объявления про машины, хочет купить авто, значит скоро возьмет кредит. Подсовываем ему кредитную рекламу. 

Нужно найти такие близкие домены. Возможно опять же нужно кластеризовать домены по поведениям пользователей. Необходимы данные по одним и тем же пользователям в разных доменах в течение +- одного времени.

- кластеризация пользователей на группы (возможно есть активные, средние, пассивные, для каждой группы свои модели)
- добавить к датам еще время посещения, чтобы можно было учитывать время суток
- отсутствие интереса в начале двух недель, появление интереса к концу недель к ретродате
- среднее время между соседними посещениями (также для всех сайтов, групп и всего домена)
- количество дней между первым и последним заходом
- is retrodate the same weekday as one of active days
- is retrodate the next (1, 2, 3 days) after active day
- increasing of interest within two weeks (number of visits goes up)-